.page-container {
    max-width: 1600px;
    margin-inline: auto;
    padding: 50px 20px;
    height: 100vh;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; */
}

.landing-spots__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1330px;
    margin: 0 auto;
}

.landing-spot {
    position: relative;
    cursor: pointer;
}


.landing-previewImg__container {
    width: 320px;
    height: 300px;
    background-color: antiquewhite;
}

.landing-previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.location-stars__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.location {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 8px;
    flex: 1 0 70%;
    overflow: auto;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars svg {
    margin-right: 1px;
}

@media (max-width: 1030px) {
    .landing-previewImg__container {
        width: 250px;
        height: 220px;
    }

    .landing-spots__container {
        padding: 0 5px;
    }
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: .5rem;
    transition: all 0.3s ease-in-out;
}

.landing-spot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
