.create-spot__container {
    max-width: 1000px;
    margin: 30px auto;
}

.error {
    color: red;
    font-size: 12px;
    padding: 5px
}

.section {
    padding: 20px 0;
    border-bottom: 2px solid black;
}

.section:not(:first-child) {
    padding: 20px 0;
}

.flex-columns {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input-container__city {
    width: 70%;
}

.input-container__state {
    flex: 1;
}

.input-container-latitude {
    width: 60%;
}

.input-container__longitude {
    flex: 1;
}

input[type="text"],
input[type="number"],
textarea[type="textarea"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.section-info {
    padding-bottom: 10px;
}
