body {
margin: 0;
padding: 0;
background-color: #f2f2f2;
font-family: 'Montserrat', sans-serif;
}

h1 {
font-size: 32px;
font-weight: bold;
margin-bottom: 10px;
}

a {
text-decoration: none;
color: black;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

/* .errors {
color: red;
} */

.button {
background-color: #fc3c5c;
color: white;
font-size: 18px;
border: none;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
transition: all 0.3s ease;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  margin: auto;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.form label input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
}

.errors {
color: red;
list-style: none;
margin-bottom: 20px;
}

input {
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button {
padding: 10px 20px;
background-color: #fc3c5c;
color: white;
border: none;
border-radius: 5px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

.button {
width: 100%;
text-align: center;
}
