body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.centered {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.errors {
  color: red;
  font-size: 14px;
  padding: 2px 0;
  margin: 0;
  text-align: center;
}


label {
  align-self: center;
  margin-bottom: 10px;
  width: 300px;
}


input {
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fc3c5c;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button[type="submit"] {
  width: 300px;
  align-self: center;
  margin-top: 5px;
}

#modal-content {
  border-radius: 5px;
  padding: 10px;
  width: 400px;
}

@media (max-width: 28em) {
  #modal-content {
    border-radius: 5px;
    padding: 30px;
    width: 100%;
  }

  button[type="submit"] {
    width: 200px;
  }

  label {
    width: 200px;
  }
}
