.manage-spots__header {
    max-width: 1330px;
    margin: 20px auto;
}

.manage-spots__buttons {
    margin-top: 10px;
}

.manage-spots__buttons:first-child {
    margin-right: 10px;
}

div.manage-spots__buttons>*:first-child {
    margin-right: 10px;
    padding: 3px 5px;
}

.gray-button {
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #6b6b6b;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 3px 5px;
}

.gray-button:hover {
    background: #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gray-button:active {
    transform: translateY(0px);
    box-shadow: none;
}

.gray-button:focus {
    outline: none;
}

/* .gray-button:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
} */

.gray-button:hover:before {
    opacity: 1;
}

.gray-button:active:before {
    opacity: 0;
}

@media (max-width: 1030px) {
    .manage-spots__header {
        max-width: 800px;
        margin: 20px auto;
    }
}
