.spot-details__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.spot-details__container h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
}

.spot-images__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 450px;
    gap: 10px;
    margin-inline: auto;
    justify-content: center;
}

.large-images__container {
    width: 500px;
    height: 100%;
    background-color: aqua;
}

.small-images__container {
    width: 500px;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

.small-image__container {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    background-color: black;
    box-sizing: border-box;
}

@media (max-width: 65em) {
    .spot-images__container {
        flex-wrap: wrap;
        height: 300px;
    }

    .large-images__container {
        width: 350px;

    }

    .small-images__container {
        width: 350px;
    }
}

@media (max-width: 50em) {
    .spot-images__container {
        flex-wrap: wrap;
        height: 200px;
    }

    .large-images__container {
        width: 250px;

    }

    .small-images__container {
        width: 250px;
    }
}
