.spot-details__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.spot-details__container h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
}

.spot-images__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    gap: 10px;
    margin-inline: auto;
    justify-content: center;
}

.large-images__container {
    width: 500px;
    height: 100%;
    background-color: aqua;
}

.small-images__container {
    width: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

.small-image {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    box-sizing: border-box;
}

.spot-details-bottom__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 10px;
    margin-inline: auto;
    padding: 10px 0;
    /* align-items: center; */
}

.spot-text__container {
    flex: 1;
}

.reserve-info__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 400px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}


.price-and-stars__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stars {
    gap: 5px;
    align-items: center;
}

.reserve-button {}

.reviews__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}

.reserve-button {
    width: 100%;
    margin-top: 10px;
}

.reviews-section {
    padding-top: 10px;
    align-items: left;
}


@media (max-width: 65em) {
    .spot-images__container {
        flex-wrap: wrap;
        height: 300px;
    }

    .large-images__container {
        width: 350px;

    }

    .small-images__container {
        width: 350px;
    }
}

@media (max-width: 50em) {
    .spot-images__container {
        flex-wrap: wrap;
        height: 200px;
    }

    .large-images__container {
        width: 250px;

    }

    .small-images__container {
        width: 250px;
    }
}
